@page "/"
@using GameStore.Frontend.Models

<PageTitle>Game Catalog</PageTitle>

<table class= "table table-striped table-bordered table-hover mt-4">
<thead class="table-dark"> 
    
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release Date</th>
</thead>
<tbody>
    @foreach(var game in games)
    {
        <tr>
            <td>@game.Id</td>
            <td>@game.Name</td>
            <td>@game.Genre</td>
            <td>@game.Price.ToString("C")</td>
            <td>@game.ReleaseDate.ToString("d")</td>
        </tr>
    }
</tbody>

</table>

@code {
    private GameSummary[] games =
    [
    new(){
        Id=1,
        Name="Street Fighter II",
        Genre="Fighting",
        Price=19.99M,
        ReleaseDate=new DateOnly(2017,3,3)
    },
    new(){
        Id=2,
        Name="The Zelda",
        Genre="Adventure",
        Price=29.99M,
        ReleaseDate=new DateOnly(1998,11,21)
    },
    new(){
        Id=3,
        Name="Minecraft",
        Genre="Sandbox",
        Price=26.95M,
        ReleaseDate=new DateOnly(2011,11,18)
    }
    

    ];
}
